<h2 class="menu_division">Attribution</h2>
<p>This content is derived from the Australian and New Zealand Standard Industrial Classification (ANZSIC), 2006 (Revision 1.0) published by The Australian Bureau of Statistics and the original content can be viewed at the ABS website: <a href="http://www.abs.gov.au">http://www.abs.gov.au</a></p>
<p>You should always verify that this is the latest information at the Australian Bureau of Statistics.</p>

